.password-generator {
    max-width: 600px;
    min-width: 300px;
    width: calc(100% - 20px);
    margin: 70px auto;
    background: #0EB575;
    padding: 15px;
    border-radius: 5px;
}

.password-generator > * {
    margin-bottom: 20px;
}

.password-generator__title {
    color: white;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.password-generator__password-group {
    display: flex;
    flex-wrap: nowrap;
    border: 2px solid white;
    border-radius: 3px;
    height: 50px;
    align-items: stretch;
    justify-content: space-between;
}

.password-generator__password {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}